#header-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(50, 50, 50);
    background-color: rgb(5, 5, 5);
}

#ping-pong-icon {
    height: 30px;
    width: 30px;
    margin-left: 15px;
}

#username-display {
    justify-self: right;
    color: rgb(232, 232, 232);
}

#login-link {
    margin-right: 15px;
}

#message-icon, #login-icon, #logout-icon {
    height: 26px;
    width: 26px;
}

#logout-button {
    margin-right: 10px;
    background-color: transparent;
    border: none;
}